/error_req_res.csv
/error_req_res.json
/fixed.csv
/not_fixed_analysis.ndjson
/vocabularies
/all_vocabularies_riunited.csv
/all_vocabularies_riunited.ndjson
/dlp_to_plot.csv
/dlp_to_plot_flaws02.csv
/sim_search
/kube_copy_hdfs.log
/tokenized_data.csv
/tokenized_data_dot_product.csv
